div {
  padding: 2px; 
}
form {
  padding: 0.4em;
}
.container  {
  display: inline-block;
}
@media all and (max-width: 1440px) {
  .lastName label {
    margin-right: 115px;
  }
  .container label:first-child {
    margin-right: 82px; 
  }
  .firstName label {
    margin-right: 57px;
  }
  textarea {
    width: 39%;
  }
  .radio {
    display: inline-block;
  }
}
@media all and (max-width: 1024px) {
  .lastName label {
    margin-right: 115px;
  }
  .container label:first-child {
    margin-right: 80px; 
  }
  .firstName label {
    margin-right: 61px;
  }
  input[type=text] { 
    width: 36%;
  }
  textarea {
    width: 55%;
  }
}
@media all and (max-width: 768px) {
  select {
    width: 25%; 
  }
  input[type=text] { 
    width: 50%;  
  }
  textarea {
    width: 76%;
  }
  .container label:first-child {
    margin-right: 86px; 
  }
  .radio input {
    margin-left: -1px;
  }
}
@media all and (max-width: 575px) {
  .firstName label {
    display: block;
  }
  .lastName select {
    display: block;
  }
  input[type=text] { 
    width: 98%;
  }
  textarea {
    width: 98%;
  }
  select {
    width: 99%; 
  }
  .radio {
    display: block;
  }
}
@media all and (max-width: 425px) {
  .firstName label {
    display: block;
  }
  .lastName select {
    display: block;
  }
  input[type=text] { 
    width: 97%;
  }
  textarea {
    width: 98%;
  }
  select {
    width: 100%; 
  }
  .radio {
    display: block;
  }
}